@font-face {
    font-family: 'Qahiri';
    src: url('../fonts/Qahiri-Regular.eot');
    src: url('../fonts/Qahiri-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Qahiri-Regular.woff2') format('woff2'),
        url('../fonts/Qahiri-Regular.woff') format('woff'),
        url('../fonts/Qahiri-Regular.svg#Qahiri-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}