.sec-1{
    @include ds(flex, space-around, center);
    background-color: $bgcolor;
    height: 100vh;
    width: 100%;
    .left-block,.right-block{
        @include ds(flex, space-around , center);
        width: $blockwidth;
        height: 70%;
        background-color: $blockcolor;
        &:hover{
            background-color: $blockhover;
        }
        p{
            font-family: $fontqahiri;
            font-size: 30px;
        }
    }
}